/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Wrapper styles */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh; /* Take up the full viewport height */
}

/* Bubble styles */
.bubble {
    margin-top: 50px; /* Reduce the top margin */
    padding: 25px;
    background-color: #fbf3e4;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.bubble textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    outline: none;
    border: none;
    cursor: auto;
    overflow-wrap: break-word;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0);
}

.bubble input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.bubble .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.bubble .tag {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
}

.bubble .post-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Add some space above the post button */
}
